@model IEnumerable<p20161_ergasia_MVC.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservation history</h1>

<p>
    <a asp-action="ReserveTickets" asp-controller="Screenings">Make a reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Movie
            </th>
            <th>
                Cinema Room
            </th>
            <th>
                Number of seats
            </th>
            <th>
                Datetime
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.CustomersUsernameNavigation)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreeningsMoviesNameNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreeningsCinemasNameNavigation.Name)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
                <td>
                   15/01/2024 16:45
                </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.CustomersUsernameNavigation.Username)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
           
        </tr>
}
    </tbody>
</table>
